* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #ccc;
}

header a {
    color: rgb(0, 60, 255);
    display: inline-block;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;

}

header a:hover {
    background-color: black;
    border-radius: 2px;
}

#container {
    display: flex;
}

.l-sidebar li {
    color: red;
    font-size: 30px;
    padding: 21px 180px 21px 0;
    border-bottom: 1px solid #000;
}

.r-sidebar {
    background-color: rgb(26, 214, 201);
    text-align: center;
    padding: 0 5px;
}

.r-sidebar h2 {
    color: red;
    margin-top: 25px;
    font-size: 35px;
}

.r-sidebar p {
    margin-top: 5px;
    font-size: 10px;
}

.heading-content h2 {
    font-size: 30px;
    margin: 5px 0;
    color: red;
}

.heading-content p {
    color: blue;
    font-size: 20px;
    margin: 10px 0;
}

.content {
    margin: 0 100px 0 100px;
}


tbody td {
    font-size: 14px;
}

table {
    margin-top: 30px;
}

table , td , th {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 17px 40px;
}

footer {
    height: 100px;
    background-color: #000;
    color: rgb(0, 60, 255);
}

footer p {
    display: flex;
    justify-content: center;
    line-height: 50px;
    letter-spacing: 10px;
    font-weight: bolder;
}

/* Responsive */

/* Mobile */
@media only screen and (max-width: 46.1875em) {
    section {
        flex-direction: column;
    }

    body {
        width: 100%;
        margin: 0 auto 0;
    }

    header {
        width: 100%;
    }

    header a {
        padding: 0 2.14em;
    }

    .l-sidebar li {
        padding: 0.625em;
        text-align: center;
    }

    .content {
        margin: 1.875em auto;
        text-align: center;
    }
}

/* Tablet */
@media only screen and (min-width:46.25em) and (max-width:63.9375em) {
    section {
        flex-direction: column;
    }
    body {
        width: 100%;
        margin: 0 auto 0;
    }

    header a {
        padding: 0px 5.4095em;
        font-size: 1.1875em;
    }

    .l-sidebar li {
        padding: 0.625em 1.25em 0.625em 1.25em;
        text-align: center;
    }

    .content {
        margin: 1.875em auto;
        text-align: center;
    }
}